<html>
  <head>
    <link rel="stylesheet" href="/resources/style.css">
    <title>Feedback - Admin: Sections</title>
  </head>
  <body>
    <h2>Sections in session : {{.Session}}</h2>
      {{if not .Sections}}
        No sections added.
      {{else}}
        Added sections are:<br>
        <table>
          <tr>
            <td>
              Section ID
            </td>
            <td>
              Section Name
            </td>
            <td>
              Year
            </td>
            <td>
              Academic Session
            </td>
            <td>
              Course ID
            </td>
            <td>
              No of Students
            </td>
            <td>
              Password
            </td>
            <td>
              Teachers
            </td>
            <td>
              Added On
            </td>
            <td>
              Remove Section
            </td>
            <td>
              Add Teacher to Section
            </td>
          </tr>
          {{range $currsection := .Sections}}
            <tr>
              <td>
                {{.Sectionid}}
              </td>
              <td>
                {{.Sectionname}}
              </td>
              <td>
                {{.Year}}
              </td>
              <td>
                {{.Session}}
              </td>
              <td>
                {{.Courseid}}
              </td>
              <td>
                {{.Students}}
              </td>
              <td>
                {{.Password}}
              </td>
              <td>
                {{if not .Teachers}}
                This section has no teachers added
                {{else}}
                <table>
                  <tr>
                    <td>
                      Faculty ID
                    </td>
                    <td>
                      Subject ID
                    </td>
                    <td>
                    </td>
                  </tr>
                  {{range .Teachers}}
                    <tr>
                      <td>
                        {{.Facultyid}}
                      </td>
                      <td>
                        {{.Subjectid}}
                      </td>
                      <td>
                        <form method="POST" action="/removeteacher">
                          <input type="hidden" name="sectionid" value="{{$currsection.Sectionid}}">
                          <input type="hidden" name="facultyid" value="{{.Facultyid}}">
                          <input type="hidden" name="subjectid" value="{{.Subjectid}}">
                          <input type="hidden" name="formsid" value="{{$.FormSid}}">
                          <input type="Submit" value="Remove">
                        </form>
                      </td>
                    </tr>
                  {{end}}
                </table>
                {{end}}
              </td>
              <td>
                {{.Addedon}}
              </td>
              <td>
                <a href="/removesection/{{.Sectionid}}">Remove</a>
              </td>
              <td>
                <form method="POST" action="/addteacher">
                      <input type="hidden" name="sectionid" value="{{$currsection.Sectionid}}">
                      <input type="hidden" name="formsid" value="{{$.FormSid}}">
                      <input type="text" name="facultyid" placeholder="Faculty ID">
                      <input type="text" name="subjectid" placeholder="Subject ID">
                      <input type="Submit" value="Add">
                </form>
              </td>
            </tr>
          {{end}}
        </table>
      {{end}}
      <br><br>
      Add a new section in this session:
      <form method="POST" action="/addsection">
        Section ID: <input type="text" name="sectionid" placeholder="Enter Section ID">
        Section Name: <input type="text" name="sectionname" placeholder="Enter Section Name">
        <br>
        Section Year: <input type="text" name="sectionyear" placeholder="Enter Section Year">
        Section Session: {{.Session}}
        <input type="hidden" name="sectionsession" value="{{.Session}}">
        <br>
        Section Course ID: <input type="text" name="sectioncourseid" placeholder="Enter Section Course ID">
        Section Students: <input type="text" name="sectionstudents" placeholder="Enter Section Students">
        <br>
        <input type="hidden" name="formsid" value="{{$.FormSid}}">
        <input type="submit" value="Add Course" name="submit">
        <br>

      </form>
      <br><br>
      <a href="/home"> Go back to home. </a>
  </body>
</html>
