@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8RsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v11/-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
body
	{
		background-image:url("back1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
	.panel
	{
		width:600px;
		margin-top:50px;
	}
	h3
	{
		color:white;
		font-size:30px; 
		font-family:'Raleway','Palatino Linotype', 'Book Antiqua', Palatino, serif; 
		margin-top:-5px;
	}
	#logout
	{
		font-size:25px; 
		color:white; 
		padding 4px;
		text-shadow:1px 1px #e6e6e6;
	}
	#hline
	{
		color:#f2f2f2;
		border-width:3px; 
		padding-left:5px; 
		margin-right:50px; 
		margin-left:50px;
	}
	h1
	{
		<!--color:#f44336;-->
		color:black;
		font-family: "Raleway","Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-weight:bold;
		font-size:50px;
	}
	h4
	{
		<!--color:#f44336;-->
		color:black;
		font-size:20px;
	}
	a
	{
		color:black;
	}
	a:hover
	{
		color:black;
		text-decoration : none;
	}
	span
	{
		font-size:35px;
		color:#4CAF50;
		text-shadow:2px 2px #e6e6e6; 
	}
	span:hover
	{
		color:#3e8e41;
		
	}
	<!-- modal styling -->
	label
	{
		text-align:left;
	}
	input[type=text], input[type=password] 
	{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		border-radius:3px;
		box-shadow:1px 1px #e6e6e6;
	}
	#Add
	{
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
		border-radius:3px;
		box-shadow:1px 2px #e6e6e6;
	}
	#Add:hover
	{
		background-color: #3e8e41;
	}
	#Rem
	{
		background-color:#4CAF50;
	}
	#Rem : hover
	{
		background-color: #3e8e41;
	}